<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.studymanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyManager">
        <activity
            android:name=".presentation.RecordActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".presentation.NotepadActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".presentation.AddReminder"
            android:exported="false" />
        <activity
            android:name=".presentation.calenderView"
            android:exported="false" />
        <activity
            android:name=".presentation.GPA_FirstPage"
            android:exported="false" />
        <activity
            android:name=".presentation.GradeTypes"
            android:exported="false" />
        <activity
            android:name=".presentation.Create_GPA_Plan_Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.CreateClassSchedule"
            android:exported="false" />
        <activity
            android:name=".presentation.CourseDescription"
            android:exported="false" />
        <activity
            android:name=".presentation.SelectedCourse"
            android:exported="false" />
        <activity
            android:name=".presentation.CourseSelection"
            android:exported="false" />
        <activity
            android:name=".presentation.institutionPage"
            android:exported="false" />
        <activity
            android:name=".presentation.semesterSelection"
            android:exported="false" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.registerPage"
            android:exported="false" />
        <activity
            android:name=".presentation.NotepadActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".presentation.signInPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.todoListActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>